*{
    margin: 0%;
    font-family: "Inter";
}

#tituloprincipal{
    margin-left: 62px;
    padding-top: 206px;
    font-weight: 600;
    font-size: 45px;
}
#subtitulo{
    margin-left: 62px;
    padding-bottom: 100px;
    font-weight: 500;
    font-size: 20px;
}

#menusuperior{
    background-color: #303030;
    color: #FFFFFF;
}

#menuinformacional{
    background-color:#F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.dados-titulo{
    font-size: 30px;
    font-weight: 600;
}

.dados-texto{
    font-size: 15px;
    font-weight: 400;
}

#titulo-arquitetos{
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    margin-top: 240px;
    margin-left: 80px;
}

#subtitulo-arquitetos{
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    margin-left: 80px;
}

.arquitetos{
display: grid;
grid-auto-flow: column;
}

#imagem1{
    margin-top: 80px;
    margin-left: 50px;
    border-radius: 30px;
    width: 510px;
    height: 605px;
    margin-bottom: 80px;
}

#final{
    background-color: #303030;
    text-align: center;
}

#servicos{
text-align: center;
color: #FFFFFF;
font-size: 30px;
font-weight: 600;
line-height: 110px;
padding-top: 40px;

}

input{
width: 400px;
height: 60px;
margin-top: 20x;
left: 466px;
border-radius: 10px;
margin: 20px;
padding-left: 20px;
font-size: 18px;
}

button{
    background-color: #C07212;
    height: 60px;
    width: 180px;
    color:#FFFFFF;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 35px;
    margin-top: 35px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}
